/build/CMakeFiles/
/build/cmake_install.cmake
/build/Makefile
/build/CMakeCache.txt
amani
/tests/build/CMakeFiles/
/tests/build/cmake_install.cmake
/tests/build/Makefile
/tests/build/CMakeCache.txt
/tests/build/copool-echoserver
/tests/build/http-test
/tests/build/thpool-test